<!DOCTYPE html>
<html>

  <head>
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.5/css/bootstrap.min.css">
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.5/js/bootstrap.min.js"></script>
    <script src="https://code.angularjs.org/1.4.3/angular.js"></script>
    <link rel="stylesheet" href="style.css" />
    <script src="script.js"></script>
  </head>

  <body ng-app="app">
    <h1 class="text-center">My little to do app!</h1>

    <div id="todo" class="col-xs-6 col-xs-offset-3" ng-controller="MainCtrl">

        <div class="input-group">
          <input type="text" class="form-control" placeholder="Item to add to todo list" ng-model="newItem" ng-required>
          <span class="input-group-btn">
            <button class="btn btn-default" type="button" ng-click="addItem()">
              Add
              <span class="glyphicon glyphicon-ok" aria-hidden="true"></span>
            </button>
          </span>
        </div><!-- /input-group -->

      <h2>stuff i gotta do asap</h2>

      <ul class="list-group">
        <!-- http://www.w3schools.com/css/css_float.asp -->
        <li class="list-group-item clearfix" ng-init = "index = $index" ng-repeat="do in todos">
<!--
    I added the editBtn function into the main loop:
     editBtn is an array of true/false values that mirror the todo list
     when user presses the "edit" button, ng-show toggles  an input text box
     on and off which updates the todo list.
-->

          <span  ng-hide="editBtn[index]">
<!--
    added checkboxes to the left
  -->
          <input type="checkbox" class="form-check-input" style="margin-right: 10px; margin-top: 10px">
          <label class="form-check-label">{{do}}</label></span>

          <span  ng-show="editBtn[index]">
            <input type="text" ng-model="newItem2"/>
            <input type="button" value="update" ng-click="update(index, newItem2)">
          </span>

          <button class="btn btn-danger pull-right" type="button" ng-click="deleteItem(do)">
            <span class="glyphicon glyphicon-trash " aria-hidden="true"></span>
          </button>
          <button class="btn btn-link pull-right" type="button" ng-click="edit(index)">
            <span class="glyphicon glyphicon-edit " aria-hidden="true"></span>
          </button>
            &nbsp;

        </li>
      </ul>
    </div>

  </body>

</html>
